<div><div><br/><br/><br/></div></div>
<div class="page-holder">    
    <div class="container">
      <!-- HERO SECTION-->
      <section class="py-5">
        <div class="container p-0">
          <div class="row">
            <!-- SHOP SIDEBAR-->
            <div class="col-lg-3 order-2 order-lg-1">
              <h5 class="text-uppercase mb-4">Categories</h5>
              <div class="py-2 px-4 bg-light mb-3"><strong class="small text-uppercase font-weight-bold">Fashion &amp; Acc</strong></div>
              <div class="py-2 px-4 bg-light mb-3"><strong class="small text-uppercase font-weight-bold">Health &amp; Beauty</strong></div>
              <div class="py-2 px-4 "><strong class="small text-uppercase font-weight-bold">Electronics</strong></div>
            </div>
            <!-- SHOP LISTING-->
            <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
              <div class="row mb-3 align-items-center">
                <div class="col-lg-6 mb-2 mb-lg-0">
                  <p class="text-small text-muted mb-0">Showing 1–12 of 53 results</p>
                </div>
              </div>

              <div class="row">
                <!-- PRODUCT-->
                <div class="col-lg-4 col-sm-6"  *ngFor="let pro of prods">
                  <div class="product text-center">
                    <div class="mb-3 position-relative">
                      <div class="badge text-white badge-"></div><a class="d-block" (click)="goto('pro-details')"><img class="img-fluid w-100" alt="..." [src]="pro.fullpath"></a>
                      <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                          <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" style="color: cornsilk;">Add to cart</a></li>
                        </ul>
                      </div>
                    </div>
                    <h6> <a class="reset-anchor" href="detail.html">{{pro.pname}}</a></h6>
                    <p class="small text-muted">${{pro.cost}}</p>
                  </div>
                </div>
                
              </div>
              <!-- PAGINATION
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center justify-content-lg-end">
                  <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
              </nav>
            -->
            </div>
          </div>
        </div>
      </section>
    </div>
     </div>
