<footer>
    <section>    
        <div id="containerFooter">
            
            <div id="webFooter">
                <h3> online store </h3>
                <p> men clothing </p>
                <p> women clothing </p>
                <p> men accessories </p>
                <p> women accessories </p>
            </div>
            <div id="webFooter">
                <h3> helpful link </h3>
                <p> Home </p>
                <p> About </p>
                <p> Contact </p>
            </div>
            <div id="webFooter">
                <h3> partners </h3>
                <p> DRESSES </p>
                <p> WATCHES </p>
                <p> LAPTOPS</p>
                <p> MOBILE PHONES </p>
                <p> + many more </p>
            </div>
            <div id="webFooter">
                <h3> address </h3>
                <p> Gachibowli</p>
                <p> AMB</p>
                <p> 506314 </p>
                <p> India</p>
            </div>
        </div>
    </section>

</footer>