<header>
    <section>
        <!-- MAIN CONTAINER -->
        <div id="container">
            <!-- SHOP NAME -->
            <div id="shopName"><a (click)="goto('home')"> <b>SHOP</b>LANE </a></div>
                <div id="collection">
                    <div id="clothing"><a href="clothing.html"> CLOTHING </a></div>
                    <div id="accessories"><a href="accessories.html"> ACCESSORIES </a></div>
                </div>
                <!-- SEARCH SECTION -->
                <div id="search">
                    <i class="fas fa-search search"></i>
                    <input type="text" id="input" name="searchBox" placeholder="Search for Clothing and Accessories">
                </div>
                <!-- USER SECTION (CART AND USER ICON) -->
                <div id="user">
                    <a (click)="goto('cart')"> <i class="fas fa-shopping-cart addedToCart"><div id="badge"> 0 </div></i></a>
                    <a (click)="goto('userdata')"> <i class="fas fa-user-circle userIcon"></i> </a>
                </div>
        </div>
        
    </section>
</header>
